<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="CGIL_SOSTENIBILEContext" connectionString="metadata=res://*/CGIL_SOSTENIBILEModel.csdl|res://*/CGIL_SOSTENIBILEModel.ssdl|res://*/CGIL_SOSTENIBILEModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GEOSQL4,1437;initial catalog=CGIL_SOSTENIBILE;persist security info=True;user id=cgilsostenibile_user;password=Fdh6S.Dhs87sGaj;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>